* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-3,
.col-2 {
  padding-top: 30px;
  text-align: center;
  border: 2px solid black !important;

  height: 200px;
  border-radius: 5px;
  border: 2px solid black;
  /* box-shadow: -2px 9px 15px 1px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: -2px 9px 15px 1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -2px 9px 15px 1px rgba(0, 0, 0, 0.61); */
  font-size: 25px !important;
}
.fw-bold {
  padding: 80px;
}
.timeTabelContainer * > {
  background: #000;
}
