* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.timeTabelContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 2fr);
}
.timeTabelContainer * > {
  background: #000;
}
